@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", serif;
  line-height: 1.6;
  background: #ffffff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

#logo {
  width: 70px;
  height: 70px;
  color: #ffffff;
  text-transform: uppercase;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #ffffff;

    .container {
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .header-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding-bottom: 5rem;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  &-inner {

  }
}

#home {
  &-a {
    .container {
      padding-top: 4rem;
    }

    .specials {
      margin: 1.5rem 0 4rem;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(3, 1fr);

      div {
        padding: 2rem 1.5rem 1.5rem;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
        border-radius: 4px;
      }

      i {
        padding-bottom: 1rem;
        font-size: 4rem;
        color: $main-color;
      }

      h3 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.1rem;
        text-align: justify;
      }
    }
  }

  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      ul {
        padding: 4rem 0 2.5rem;

        li {
          line-height: 2;

          i {
            font-size: 4rem;
          }

          &.stats-title {
            font-size: 1.5rem;
          }

          &.stats-number {
            font-size: 2rem;
            font-weight: bold;
          }
        }

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }

  &-c {
    .process {
      margin-top: 2.5rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
      text-align: center;

      &-icon {
        display: inline-block;
        position: relative;
      }

      i {
        font-size: 70px;
        padding: 2rem;
        border-radius: 50%;
        background: $dark-color;
        color: white;
      }

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background-color: $main-color;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        color: black;
      }

      h3 {
        margin-top: 1.4rem;
      }
    }
  }
}